@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  background-image: url('../images/logo_place_header.svg');
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  margin: 0;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
  animation: rotation linear 20s infinite;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
}

.two-columns__paragraph:first-child {
  padding: 0;
}

.techniques {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 100px auto 0;
}

/* ЗДЕСЬ БУДЕТ GRID */
.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 0;
  list-style-type: none;
}

.cards__image {
  width: 160px;
  height: 160px;
  padding: 0 40px;
  border-radius: 50%;
}

.cards__item {
  width: 240px;
  margin: 0;
  padding-top: 60px;
}

.cards__title {
  margin-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.cards__description {
  margin-top: 16px;
  margin-bottom: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
}

/* ЗДЕСЬ БУДЕТ GRID? */
.video__iframes {
  margin: 50px auto -60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video__iframe {
  margin-right: 20px;
  border: 0;
}

.video__iframe:nth-child(2) {
  margin-right: 0;
}

.oakley {
  padding-top: 60px;
  padding-bottom: 0;
  background-color: #f2f2f2;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 0;
}

.feynman__title {
  text-align: center;
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  display: flex;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px auto;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  text-align: center;
  margin: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.khan {
  display: flex;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 105px auto 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
}

.khan__quote_author {
  margin: 36px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
}

.khan__book-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 68px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  text-align: center;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 2;
}

.table_theme_dark {
  z-index: 2;
  list-style-type: none;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0;
  margin-top: 80px;
  padding: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  bottom: 20px;
  margin: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  padding: 0;
}

.kaufman__triangle {
  position: absolute;
  background-image: url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 1;
  animation: rotation linear 20s infinite;
}

.resourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 1100px;
  margin: 80px auto 0;
  list-style-type: none;
  text-decoration: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  color: white;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
  color: white;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 18px;
  padding: 0;
  list-style-type: none;
  color: white;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 18px;
  list-style-type: none;
  text-decoration: none;
  color: white;
}